<hr/>
<div class="row text-center hello" style="background: #f7f5f4;" >
  <div class="col-md-3">
    <ul>
      <li><button mat-button>Solution</button></li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button routerLink="/javascript">JavaScript Development</button></li>
      <li><button mat-button routerLink="/mobile">Mobile App Development</button></li>
      <li><button mat-button (click)="preventNormal($event)">Team Training</button></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><button mat-button>Company</button></li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>About Us </button></li>
      <li><button mat-button>Blog</button> </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><button mat-button>Support</button></li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button routerLink="/contact">ContactUs</button></li>
      <li><button mat-button>Privacy</button></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><button mat-button>Hire the experts</button></li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>services@domain.com</button></li>
      <li><button mat-button>(415) 813-3509</button></li>
    </ul>
  </div>

</div>

<footer>
  <hr/>
  <div class="row text-center hac" >
    <div class="col-md-4 col-md-offset-2 ">
      © 2017 Udemy.AngularClass, and related marks and logos are property of Udemy, Inc.
    </div>
    <div class="col-md-4">
      <a href="#">Back to top</a>
    </div>
  </div>
</footer>
