<!--contact form started-->
  <div class="row" *ngIf="onReplyor; else elseBlock;">
      <div class ="col-md-4 col-md-offset-2" >
        <input class="input" name="name"  placeholder="*Name" type="text" [(ngModel)]="nameText" required><br/>
        <input class="input" name="company" placeholder="*Company" type="text" [(ngModel)]="compText" required><br/>
        <input class="input" name="email"  placeholder="*Work Email" type="text" [(ngModel)]="emailText" required>
      </div>
      <div class = "col-md-4">
        <input class="message" name="name"  placeholder="Enter your message" type="text" [(ngModel)]="messText">
      </div>
  </div><!--contact form end-->
<br/>
  <div class="text-center">
    <button mat-raised-button [ngClass]="'One'" (click)="addContact($event)">{{sendOr}}</button>
  </div>

  <ng-template #elseBlock>
    <b>Your Details:</b>
    <p *ngFor="let hack of Hel">{{hack}}</p>
    <button mat-raised-button [ngClass]="'One'" (click)="Reset()">Reset</button>
  </ng-template>

