
<div class="container huk img-responsive" >
  <div class="center">
    <h1 class="text-light"><b>We Saved You A Spot, Welcome To Our Team</b></h1>
    <p class="text-light1 jurr">Cyberdude was founded on collaboration while building beatiful products and open source.
      We invite you to experience a partnership with a team that knows how to get it done.</p>
  </div>
</div>














<!--project component added-->
<app-project></app-project>
<!--project component ended-->
<!--footer added-->
<app-footer></app-footer>
<!--footer end-->
