<!--top heading started-->
  <div class="container huk img-responsive" >
    <div class="center">
      <h1 class="text-light"><b>We Saved You A Spot, Welcome To Our Team</b></h1>
      <p class="text-light1 jurr">Cyberdude was founded on collaboration while building beatiful products and open source.
        We invite you to experience a partnership with a team that knows how to get it done.</p>
    </div>
  </div>
<!--about started-->
  <div class="container">
    <h1 class="os-text"><b>Who We Are</b></h1>
    <p class="jurr" style="color: #4d5562;">We're an expert team of talented individuals with a passion for building
      amazing products and experiences. At our core we believe in great design, open source, and efficient processes.</p>
  </div>
<!--team started-->
  <div class="copy">
    <h1 class="os-text"><b>Leadership Team</b></h1>
  </div>
  <section>

  <!--first member-->
  <div class="row person">
    <div class="col-lg-3 col-xs-12 col-lg-offset-1" style="padding: 16px">
      <img class="person-img" src="../../assets/Images/person1.jpeg"/>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h1 class="os-text"><b>Krishna</b></h1>
      <p class="jurr" style="color: #4d5562;">Krishna is the vision behind CyberDude. Priorly he was an experienced
        engineer in Silicon Valley and SF working with some of the top tech companies. He's known in the JS community for
        his contributions to Angular including popular open source projects, conference talks, and courses. Design is in every aspect of his life, from fashion to how his desktop is organized. He enjoys hacking on open source and playing              video games with his son.
      </p>
    </div>
  </div>
  <!--second member-->
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-lg-offset-1">
      <h1 class="os-text"><b>Krishna</b></h1>
      <p class="jurr" style="color: #4d5562;">Krishna is the vision behind CyberDude. Priorly he was an experienced
        engineer in Silicon Valley and SF working with some of the top tech companies. He's known in the JS community for
        his contributions to Angular including popular open source projects, conference talks, and courses. Design is in every aspect of his life, from fashion to how his desktop is organized. He enjoys hacking on open source and playing              video games with his son.
      </p>
    </div>
    <div class="col-lg-3 col-xs-12 " style="padding: 16px">
      <img class="person-img" src="../../assets/Images/person1.jpeg"/>
    </div>
  </div>
  <!--third member-->
  <div class="row person">
    <div class="col-lg-3 col-xs-12 col-lg-offset-1" style="padding: 16px">
      <img class="person-img" src="../../assets/Images/person1.jpeg"/>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h1 class="os-text"><b>Krishna</b></h1>
      <p class="jurr" style="color: #4d5562;">Krishna is the vision behind CyberDude. Priorly he was an experienced
        engineer in Silicon Valley and SF working with some of the top tech companies. He's known in the JS community for
        his contributions to Angular including popular open source projects, conference talks, and courses. Design is
        in every aspect of his life, from fashion to how his desktop is organized. He enjoys hacking on open source and            playing video games with his son.
      </p>
    </div>
  </div>
</section>





<!--project component added-->
<app-project></app-project>
<!--project component ended-->
<!--footer added-->
<app-footer></app-footer>
<!--footer end-->
