
<div class="container huk img-responsive" >
  <div class="center">
    <h1 class="text-light"><b>We Are The Leading JavaScript Experts.</b></h1>
    <p class="text-light1">We specialize in React, Angular, Vue, and Node. Partner with us on your next project and get to market faster.</p>
    <button mat-raised-button [ngClass]="'hee'" routerLink="/contact">Let's Talk &gt;&gt;</button>
  </div>
</div>














<!--project component added-->
<app-project></app-project>
<!--project component ended-->
<!--footer added-->
<app-footer></app-footer>
<!--footer end-->
