
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.heer{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen-video-wrap:before{
  content: '';
  position: absolute;
  background: #225470;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity:0.7;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}
.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}
.find{
  transition: opacity .25s ease,background-color .25s ease;
  border: 2px solid #cbd3dd;
  font-weight: 300;
  border-radius: 27px;
  font-size: 1.125em;
  padding: 18px 42px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}
.jurd{
  line-height: 1.6;
  font-size: 1.25em;
  color: #808488;
  max-width: 80%;
  margin: 0 auto;
}
.dia{
  opacity: .3;
  font-size: 29px;
  color:red;
}
.nik{
  position: absolute;
  left: 40px;
  top: 1px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  opacity: 0.7;
}
.box-title{
  font-size: 1.5625em;
}
.dd{
  padding: 50px;
}
.df{
  border: 1px solid #e9eaec;
  padding: 35px;
  text-align: center;
}
/*price list stated*/
.price-list {
  position: relative;
  padding: 40px 50px;
  margin: 0 15px 50px;
  border-radius: 10px;
  min-height: 100px;
  box-shadow: 2px 7px 29px 0 rgba(38,38,38,.1);
  background-color: #fff;
  background-image: linear-gradient(rgba(255,255,255,.03) 0,rgba(255,255,255,.03) 65%,rgba(0,0,0,.03) 100%);
}
.price-list-title {
  text-align: center;
  color: #808488;
}
.price-list-price {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.price-list-features {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.price-list-feature-item {
  padding: 5px 0;
  font-weight: 300;
}
/*button*/
.price-list-button {
  margin-top: 30px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
  border: 1px solid #28c;
  border-radius: 26px;
  color: #28c;
  text-decoration: none;
}
.fea{
  padding: 80px;
  background-image: url(../../../assets/Images/7.jpg);
  text-align: center;
  background-size: cover;
}
/*buttons*/
.call-to-action-buttons{
  padding: 18px;
}
.call-to-action-button {
  margin: 8px;
  background-color: #28c;
  border: 1px solid rgba(0,0,0,.1);
  color: #fff;
  padding: 0 30px;
  border-radius: 25px;
  line-height: 50px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
}
