<!--video header started-->
  <header class="v-header container heer">
    <div class="fullscreen-video-wrap">
        <video src="https://production.cdmycdn.com/assets/marketing-pages/intensives/bws/coding-scenes-9a2031e8142b40bdb5d936d5eef33dfa.mp4" autoplay="" loop="">
        </video>
    </div>
    <!--<div class="header-overlay"></div>-->
    <div class="header-content text-md-center">
      <h1>CyberDude Admin panel</h1>
      <p>Cyberdude was founded on collaboration while building beatiful products and open source. We invite you to              experience a partnership with a team that knows how to get it done.</p>
      <a class="find">Find Out More</a>
    </div>
  </header>
<!--video header ended-->
  <div class="container text-center">
    <i class="fa fa-diamond dia" aria-hidden="true"></i>
    <h1 class="os-text">Unique Features</h1>
    <p class="jurd">Firebase admin panel is ReactJS webproject that you can host directly in your firebase instance           and  manage your data like a PRO.</p>
  </div>
  <!--grid layout stated-->
<div class="container">
  <div class="col-sm-6">
     <div class="col-lg-3 col-xs-12">
       <i class="fa fa-paper-plane-o nik"></i>
     </div>
     <div class="col-lg-9 col-xs-12">
       <h1 class="box-title">Plan</h1>
       <p>Information first design second. We meet our clients to get their needs and expectations & we research </p>
     </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-paint-brush nik"></i>
    </div>
    <div class="col-lg-9 col-xs-12">
      <h1 class="box-title">Design</h1>
      <p>It is based on a profesional Bootstrap Admin Templata, that looks amazing, it is easy to extend and customize.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-wrench nik" ></i>

    </div>
    <div class="col-lg-9 col-xs-12">
      <h1 class="box-title">Works for every structure</h1>
      <p>We designed this software from scratc. And the primary rule was to work for each data structure.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-trophy nik" ></i>

    </div>
    <div class="col-lg-9 col-xs-12">
      <h1 class="box-title">Dynamic Navigation</h1>
      <p>Build the navigation the way you like. You will be amazed how fast you can manage your data from now ow.</p>
    </div>
  </div>
</div>

<!--grid layout ended-->
