<!--video header started-->
  <header class="v-header container heer">
    <div class="fullscreen-video-wrap">
        <video src="https://production.cdmycdn.com/assets/marketing-pages/intensives/bws/coding-scenes-9a2031e8142b40bdb5d936d5eef33dfa.mp4" autoplay="" loop="">
        </video>
    </div>
    <!--<div class="header-overlay"></div>-->
    <div class="header-content text-md-center">
      <h1>CyberDude Admin panel</h1>
      <p>Cyberdude was founded on collaboration while building beatiful products and open source. We invite you to              experience a partnership with a team that knows how to get it done.</p>
      <a class="find">Find Out More</a>
    </div>
  </header>
<!--video header ended-->
  <div class="container text-center">
    <i class="fa fa-diamond dia" aria-hidden="true"></i>
    <h1 class="os-text">Unique Features</h1>
    <p class="jurd">Firebase admin panel is ReactJS webproject that you can host directly in your firebase instance           and  manage your data like a PRO.</p>
  </div>
  <!--grid layout stated-->
<div class="container">
  <div class="col-sm-6">
     <div class="col-lg-3 col-xs-12">
       <i class="fa fa-paper-plane-o nik"></i>
     </div>
     <div class="col-lg-9 col-xs-12">
       <h1>PLAN</h1>
       <p>Information first design second. We meet our clients to get their needs and expectations & we research industry and competition to choose appropriate technology, platform and resources.</p>
     </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-paint-brush nik"></i>
    </div>
    <div class="col-lg-9 col-xs-12">
      <h1>DESIGN</h1>
      <p>We design websites for the present with an awareness of the future. By following clients requirements, designs and expectations our design team determine the design theme style.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-codepen nik"></i>
    </div>
    <div class="col-lg-9 col-xs-12">
      <h1>BUILD</h1>
      <p>In the web building phase we transform web design into web development code and also implement new website development technologies and applications.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-lg-3 col-xs-12">
      <i class="fa fa-rocket nik"></i>
    </div>
    <div class="col-lg-9 col-xs-12">
      <h1>LAUNCH</h1>
      <p>After optimizing and testing on popular web browsers the site is ready for the launch with full functions.</p>
    </div>
  </div>
</div>

<!--grid layout ended-->
