
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen-video-wrap:before{
  content: '';
  position: absolute;
  background: #225470;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity:0.7;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

/*.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}*/

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}


.find{
  transition: opacity .25s ease,background-color .25s ease;
  border: 2px solid #cbd3dd;
  font-weight: 300;
  border-radius: 27px;
  font-size: 1.125em;
  padding: 18px 42px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}
