<div class="row" style="padding: 89px;">
  <div class="col-lg-2 col-md-3 hidden-sm hidden-xs col-lg-offset-1">
    <mat-card class="example-card" style="box-shadow: 0 2px 10px grey;">
      <img mat-card-image src="../../assets/Images/back.jpg">
      <mat-card-content class="text-center kr">
        <img alt="Logo" class="center-block" src="../../assets/Images/c.png">
        <p  class="jurr text-center" style="color:black">
          Code4Startup
        </p>
      <button class="c4s-btn" type="button">Follow</button>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-24 col-lg-push-1">
    <div class="banner-img" style="background-image: url(../../assets/Images/back2.jpg)">
      <div style="padding: 75px;">
        <h1>Learn to code by creating</h1>
        <h1>Real life Startups</h1>
        <p>(AirBnb, UberEats, Tinder, Fiverr, ProductHunt...)</p>
      </div>
    </div>
  </div>
</div>

<app-contact-form></app-contact-form>
<app-footer></app-footer>
