
<section class="text">
  <div>
    <h6 style="color:#00a8ff;font-weight:bold;margin-bottom:0">HELLO THERE</h6>
  </div>
  <div>
     <h3 class="big">Drop us a line!</h3>
  </div>
</section>

<div class="row">
  <div class = "col-md-6 ">
    <input class="input" name="name" placeholder="*Name" type="text"><br/>
    <input class="input" name="name" placeholder="*Company" type="text"><br/>
    <input class="input" name="name" placeholder="*Work Email" type="text">
  </div>
  <div class = "col-md-6 ">
    <input class="message" name="name" placeholder="Enter your message" type="text">
  </div>
</div>
<br/>
<div class="text-center">
  <button mat-raised-button class="once">Send</button>
</div>
