
<section class="text">
  <div>
     <h3 class="big">Drop us a line!</h3>
  </div>
</section>

<div class="row">
  <div class = "col-md-4 col-md-offset-2 ">
    <input class="input" name="name" placeholder="*Name" type="text"><br/>
    <input class="input" name="name" placeholder="*Company" type="text"><br/>
    <input class="input" name="name" placeholder="*Work Email" type="text">
  </div>
  <div class = "col-md-4">
    <input class="message" name="name" placeholder="Enter your message" type="text">
  </div>
</div>
<br/>
<div class="text-center">
  <button mat-raised-button class="once">Send</button>
</div>

<!--footer started-->

<app-footer></app-footer>
