
<section class="text">
  <div>
    <h6 style="color:#00a8ff;font-weight:bold;margin-bottom:0">HELLO THERE</h6>
  </div>
  <div>
     <h3 class="big">Drop us a line!</h3>
  </div>
</section>

<div class="row">
  <div class = "col-md-4 col-md-offset-2 ">
    <input class="input" name="name" placeholder="*Name" type="text"><br/>
    <input class="input" name="name" placeholder="*Company" type="text"><br/>
    <input class="input" name="name" placeholder="*Work Email" type="text">
  </div>
  <div class = "col-md-4">
    <input class="message" name="name" placeholder="Enter your message" type="text">
  </div>
</div>
<br/>
<div class="text-center">
  <button mat-raised-button class="once">Send</button>
</div>
<hr/>
<div class="row text-center" style="background: #f7f5f4">
  <div class="col-md-3">
    <ul>
      <li><a href="#">Solutions</a> </li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>JavaScript Development</button></li>
      <li><button mat-button>Mobile App Development</button></li>
      <li><button mat-button>Team Training</button></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><a href="#">Company</a> </li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>About Us </button></li>
      <li><button mat-button>Blog</button> </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><a href="#">Support</a> </li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>ContactUs</button></li>
      <li><button mat-button>Privacy</button></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><a href="#">Hire the experts</a> </li>
      <li><a href="#"><hr/></a> </li>
      <li><button mat-button>services@domain.com</button></li>
      <li><button mat-button>(415) 813-3509</button></li>
    </ul>
  </div>

</div>




<footer>
<hr/>
  <div class="row text-center hac" >
    <div class="col-md-4 col-md-offset-2 ">
      © 2017 Udemy.AngularClass, and related marks and logos are property of Udemy, Inc.
    </div>
    <div class="col-md-4">
      <a href="#">Back to top</a>
    </div>
  </div>



</footer>
