<div id="example1">
  <h1 class="text-light">10 Days of learning</h1>
  <p class="jurr">Check back daily to see which courses are $10</p>
</div>
<!--courses started-->
<div class="container">
  <div class="col-sm-3">
    <div class="card">
      <img  src="img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </div>
</div>

