#example1 {
  padding: 75px;
  background: url(../../assets/Images/course.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 400px) {
  #example1 {
    background-image: url('../../assets/Images/course.jpg');
  }
}
.cha{
  padding-top: 30px;
  background-color: #f7f8fa;
}
.card{
  box-shadow: 2px 7px 29px 0 rgba(38,38,38,.1);
  opacity: 1;
  background-image: linear-gradient(rgba(255,255,255,.03) 0,rgba(255,255,255,.03) 65%,rgba(0,0,0,.03) 100%);
}
.card:hover{
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  transition: .2s ease;
}
.sdf{
  filter: sepia(.1) grayscale(.1) saturate(.8);
  width: 100%;
  opacity: 1;
}
.card-body{
  padding: 18px;
}
.card-list-price{
  text-decoration: line-through;
  color: #686f7a;
  font-weight: 400;
  font-size: 13px;
  margin-right: 5px;

}
.card-discount-price{
  color: #29303b;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.hdf{
  background: #e8e9eb;
  line-height: 1.43;
}
.inst_banner{
  color: #29303b;
  font-size: 18px;
}
