<div id="example1">
  <h1 class="text-light">10 Days of learning</h1>
  <p class="jurr">Check back daily to see which courses are $10</p>
</div>
<!--courses started-->
  <div class="container cha">
    <div class="col-sm-3">
      <div class="card">
        <img  src="../../assets/Images/course/web1.jpg" alt="Card image" class="sdf">
        <div class="card-body">
          <h4 class="card-title"><b>The Web Developer Bootcamp</b></h4>
          <p class="card-text">Colt steele</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
  </div>

