#example1 {
  padding: 75px;
  background: url(../../assets/Images/course.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 400px) {
  #example1 {
    background-image: url('../../assets/Images/course.jpg');
  }
}
.cha{
  padding-top: 30px;
}
.card{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  opacity: 1;
}
.card:hover{
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  transition: .2s ease;
}
.sdf{
  filter: sepia(.1) grayscale(.1) saturate(.8);
  width: 100%;
  opacity: 1;
}
.card-body{
  padding: 18px;
}
