 <div>
   <ul class="row three" *ngIf='!showNav'>
     <li class="col-md-2 col-xs-3 text-center"><a href="#">
       <img src="../assets/Images/logo-coral.png" class="Helo1"/></a>
     </li>
     <li class="col-md-1 col-xs-4">
       <button mat-button [matMenuTriggerFor]="animals"><mat-icon>apps</mat-icon>Categories</button>
       <mat-menu #animals="matMenu" class="four">
           <button mat-menu-item [matMenuTriggerFor]="Development">
              <mat-icon><i class="fa fa-code"></i></mat-icon>Development
           </button>
           <button mat-menu-item [matMenuTriggerFor]="Business">
             <mat-icon><i class="fa fa-briefcase" ></i></mat-icon>Business
           </button>
           <button mat-menu-item [matMenuTriggerFor]="ITSoftware">
             <mat-icon><i class="fa fa-desktop" ></i></mat-icon>IT& Software
           </button>
           <button mat-menu-item [matMenuTriggerFor]="Photography">
             <mat-icon><i class="fa fa-camera"></i></mat-icon>Photography
           </button>
           <button mat-menu-item [matMenuTriggerFor]="Design">
             <mat-icon><i class="fa fa-paint-brush" ></i></mat-icon>Design
           </button>
           <button mat-menu-item [matMenuTriggerFor]="Music">
             <mat-icon><i class="fa fa-music"></i></mat-icon>Music
           </button>
       </mat-menu>
       <mat-menu #Development="matMenu">
         <button mat-menu-item routerLink="/javascript">Web developmemnt</button>
         <button mat-menu-item routerLink="/mobile">Mobile Apps</button>
         <button mat-menu-item>Development Tools</button>
         <button mat-menu-item>E-Commerce</button>
       </mat-menu>
       <mat-menu #Business="matMenu">
         <button mat-menu-item>Finance</button>
         <button mat-menu-item>Enterperneuship</button>
         <button mat-menu-item>Management</button>
         <button mat-menu-item>Communications</button>
         <button mat-menu-item>Management</button>
         <button mat-menu-item>Sales</button>
       </mat-menu>
       <mat-menu #ITSoftware="matMenu">
         <button mat-menu-item>IT Certification</button>
         <button mat-menu-item>Network & Security</button>
         <button mat-menu-item>Hardware</button>
         <button mat-menu-item>Operating System</button>
       </mat-menu>
       <mat-menu #Photography="matMenu">
         <button mat-menu-item>Digital Photography</button>
         <button mat-menu-item>Portaits</button>
         <button mat-menu-item>Landscape</button>
         <button mat-menu-item>Black & White</button>
         <button mat-menu-item>Photography Tools</button>
         <button mat-menu-item>Mobile photography</button>
       </mat-menu>
       <mat-menu #Design="matMenu">
         <button mat-menu-item>Web Design</button>
         <button mat-menu-item>Graphic Design</button>
         <button mat-menu-item>User Experience</button>
       </mat-menu>
       <mat-menu #Music="matMenu">
         <button mat-menu-item>Instruments</button>
         <button mat-menu-item>Production</button>
         <button mat-menu-item>Music fundamentals</button>
         <button mat-menu-item>Vocal</button>
         <button mat-menu-item>Music Techniques</button>
       </mat-menu>
     </li>
     <li class="col-md-4 col-xs-4">
       <input class="form-control col-xs-4" placeholder="Search.." type="text"></li>
     <li class="col-md-1 hidden-xs">
       <span matTooltip="Teach here!"> <button mat-button routerLink="/teach">Teach here</button></span>
     </li>
     <!--<li class="col-md-1 hidden-xs">
       <button mat-icon-button style="float: right;">
         <mat-icon><i class="fa fa-shopping-cart"></i></mat-icon>
       </button>
     </li>-->
     <li class="col-md-1 col-xs-4"><a routerLink="/signin">
      <span matTooltip="LogIn">
        <button mat-raised-button [ngClass]="'Two'">
            <i class="material-icons">fingerprint</i>  LogIn
         </button>
      </span></a>
     </li>
     <li class="col-md-1 col-xs-4"><a routerLink="/signup">
       <span matTooltip="SignUp"><button mat-raised-button [ngClass]="'Two'"> SignUp</button></span></a></li>
     <li class="col-md-1 col-xs-4"><a routerLink="contact">
       <span matTooltip="TALK"> <button mat-raised-button [ngClass]="'One'">TALK</button></span></a>
     </li>
   </ul>
 </div>

 <!--router started-->
 <div class="container-fluid" >
   <router-outlet></router-outlet>
 </div>
