
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1010;
}


.navbar p{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px;
  font-size: 17px;
}
