.three {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  height: 65px;
  z-index: 1010;
}
li{
  padding:15px;
}
.Helo1{
  width: 147px;
  height: 40px;
}
.One{
  color: white;
  background-image: linear-gradient(to right, #00cfc6, #00a8ff 99%);
  height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .025em;
  border: 0px;
  outline: none;
}
.One:hover, .Two:hover  {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


