.three {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);

  z-index: 1010;
}
li{
  padding:15px;
}
.Helo1{
  width: 57px;
  height: 50px;

}



