<div class="container huk">
    <div class="center">
         <h1 class="text-light"><b>Data Driven JavaScript <br/>Team Training</b></h1>
         <p class="text-light1">Transform your team today with our custom JavaScript training taught by<br/>
             our experienced instructors.</p>
         <button mat-raised-button [ngClass]="'hee'">Let's get started &gt;&gt;</button>
      </div>
</div>
<div class="row pee">
  <div class="col-lg-3 text-center">
    <img src="../../assets/Images/american.png"/>
  </div>
  <div class="col-lg-3 text-center">
    <img src="../../assets/Images/boom.png"/>
  </div>
  <div class="col-lg-3 text-center">
    <img src="../../assets/Images/cap.png"/>
  </div>
  <div class="col-lg-3 text-center">
    <img src="../../assets/Images/net.png"/>
  </div>
</div>

<div class="container">
  <h1 class="os-text"><b>The Best JavaScript Training</b></h1>
  <div class="training-box" *ngFor="let numbers of myList; let i=index">
     <div class="col-lg-2">
        <div class="training-logo">
          <img src="../../assets/Images/{{numbers.img}}"/>
        </div>
     </div>
    <div class="col-lg-10">
      <h3 class="oss"><b>{{numbers.title}}</b></h3>
      <p class="oss">{{numbers.para}}</p>
    </div>
  </div>

</div>
<hr/>
