<div class="container huk">
    <div class="center">
         <h1 class="text-light"><b>Data Driven JavaScript <br/>Team Training</b></h1>
         <p class="text-light1">Transform your team today with our custom JavaScript training taught by<br/>
             our experienced instructors.</p>
         <button mat-raised-button [ngClass]="'hee'" routerLink="/contact">Let's get started &gt;&gt;</button>
      </div>
</div>

<div class="row pee" >
  <div class="col-md-3 text-center" *ngFor="let nuu of item">
    <img src="../../assets/Images/{{nuu}}.png"/>
  </div>
</div>

<div class="container">
  <h1 class="os-text"><b>The Best JavaScript Training</b></h1>
  <div class="row training-box" *ngFor="let numbers of myList">
     <div class="col-lg-2 col-xs-12">
        <div class="training-logo">
          <img src="../../assets/Images/{{numbers.img}}" />
        </div>
     </div>
    <div class="col-lg-10 col-xs-12">
      <h3 class="oss"><b style="color: {{numbers.color}}">{{numbers.title}}</b></h3>
      <hr/>
      <p class="oss">{{numbers.para}}</p>
    </div>
  </div>
</div>
<br/>

<section class="row hacc">
  <div class="juk">
    <h1 class="jur"><b>Data Driven, Outcomes Focused.</b></h1>
    <p class="jurr">Our data driven teaching method gives us insight into how each student is learning,     allowing us to adjust curriculum. With this level of detail, your team will be productive immediately  after training, increasing productivity and shipping better products faster.</p>
  </div>
</section>
<!--training-->

<div class="row" style="background-color: #efefef">
  <div class="col-md-4 col-md-offset-1">
    <h1 class="os-text"><b>Our Clients Were Able To Ship Faster</b></h1>
    <p class="jurr" style="color: black;">From crash courses to full week immersive training sessions, we'll design a custom cirriculum for your team's needs. The training results in a significant boost in productivity for each developer, resulting into shipping better products faster and at less cost.</p>
  </div>
  <div class="col-md-4 col-md-push-1 has">
    <!--Card-->
    <div class="card">
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <!--Text-->
        <p class="jurr" style="color: black;">The training offered our developers not only better insight and understanding of Angular, it also introduced them to TypeScript, Angular Universal and other toolings that continues to benefit our team's productivity and at the same time, has positive impact on our migration project delivery.</p>
        <p class="jurr" style="color: black;"><b>Jeff Lu</b>|Principal Engineer @ IBM</p>
      </div>
    </div>
  </div>
</div>

<h1 class="os-text col-md-offset-1"><b>Let Us Know About Your Project.</b></h1>

<app-contact-form></app-contact-form>
<app-footer></app-footer>
