<div class="container huk">
  <div class="center">
    <h1 class="text-light"><b>JavaScript is Beyond The Web, and So Are We</b></h1>
    <p class="text-light1">No matter your JavaScript project, partner with us and get it right the first time.</p>
    <button mat-raised-button [ngClass]="'hee'" routerLink="/contact">Let's Talk &gt;&gt;</button>
  </div>
</div>
<div class="container">
  <h1 class="os-text"><b>Javascript Development Services</b></h1>
  <p class="jurr">JavaScript is at our core. Our solutions are tailored to assist you with all your JavaScript needs.</p>
</div>
<div class="container">
  <h1 class="os-text col-md-12"><b>The Best JavaScript Training</b></h1>
  <div class="training-box col-xs-12" *ngFor="let repee of myLii">
    <div class="col-lg-2">
      <div class="training-logo">
        <img src="../../assets/Images/{{repee.imgg}}" />
      </div>
    </div>
    <div class="col-lg-10">
      <h3 class="oss"><b>{{repee.titl}}</b></h3>
      <p class="oss" style="font-size: 1.2em;">{{repee.topi}}</p>
    </div>
  </div>
</div>
<br/>
<!--http started-->
<div class="row pp">
  <div class="col-md-4 col-sm-4 col-md-offset-2 col-xs-12 ">
    <h1 class="os-text" style="color: white"><b>Our Technologies</b></h1>
    <p class="jurr" style="color: white">We're pretty comfy with all things JavaScript, but these technologies are our           favorites. Contributing to these technologies solidifies our experience when using them to build your                 projects and train your team.</p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" >
     <div class="row sur" >
       <div class="col-md-3 col-sm-3 col-xs-3" *ngFor="let item of ite">
         <img src="../../assets/Images/{{item}}.png"/>
       </div>
     </div>
    <br/>
    <div class="row sur">
      <div class="col-md-3 col-sm-3 col-xs-3" *ngFor="let it of ites">
        <img src="../../assets/Images/{{it}}.png"/>
      </div>
    </div>
  </div>
</div>
<!--last section started-->
<section class="row hacc">
  <div class="juk">
    <h1 class="jur"><b>The Right Team For Your JavaScript Project.</b></h1>
    <p class="jurr">We've developed solutions for companies in many different industries, from e-commerce to security.     No matter what your team's focus, we're able to dive in and assist.</p>
  </div>
</section>
<br/>

<app-contact-form></app-contact-form>
<app-footer></app-footer>
