  <div class="container huk img-responsive">
    <div class="center">
      <h1 class="text-light"><b>We Are The Leading JavaScript Experts.</b></h1>
      <p class="text-light1 jurr">We specialize in React, Angular, Vue, and Node. Partner with us on your next project and get to market faster.</p>
      <span matTooltip="Let's Talk">
        <button mat-raised-button [ngClass]="'hee'" routerLink="/contact">Let's Talk &gt;&gt;</button>
      </span>
    </div>
  </div>
  <div class="container">
    <h1 class="os-text"><b>Our Services</b></h1>
    <p class="jurr" style="color: #4d5562;">We have successfully delivered JavaScript solutions to some of the most well-known brands and our experience with frameworks like Angular, React, Vue, and Node is unmatched. No matter your project, partner with us and let's build it</p>
  </div>
<!--http started-->
  <div class="container">
     <div class="col-sm-6" *ngFor="let number of myLi; let i=index">
       <div class=" training thumbnail">
          <div class="col-lg-2 col-xs-12">
            <div class="training-log">
              <img src="../../assets/Images/{{number.imgg}}" />
            </div>
          </div>
          <div class="col-lg-10 col-xs-12">
            <a routerLink="/{{number.url}}" class="chan">
              <h3 class="os"><b>{{number.titl }}</b></h3>
              <p class="oss">{{number.topi}}</p>
            </a>
          </div>
       </div>
     </div>
  </div>
  <br/>
  <!--project component added-->
  <app-project></app-project>
  <!--project component ended-->
  <!--footer added-->
  <app-footer></app-footer>


